# Ignore mailpit data
data/database/*
!data/database/.keep

# Ignore mailpit auth configuration
data/auth/*
!data/auth/.keep

# Ignore Jetbrain IDE configuration folder
.idea

# Ignore configuration files
.env
docker-compose.override.yml
